/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --title-text-weight: 715;
  --color: #000;
  --card-text-weight: 410;
  --ux-text-weight: 400;
  --background-gradient: repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
                         repeating-linear-gradient(to bottom, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
                         linear-gradient(to bottom, transparent 0.01%, #e7e7e7, #1a1a1a);
  --inline-size-block: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --border: 2px solid #000;
  --bacground-color: #fff;
  --font-size: 18px;
  --header-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --header-block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  --text-stroke: 1px #fff;
  --button-background-color: #fff;
  --button-color: #fff;
  --contour-color: #000;
  --animation-fill-color: red;

}

